body {
  margin: 0;
  padding: 0;
  background: rgb(248, 244, 244);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.full-height-body-container {
  padding: 5px;
  width: 100%;
  height: 100%;
}

#logo {
  padding: 5px 15px 5px 15px;
  text-align: center;
}

#header-list {
  text-align: center;
}

header ul {
  margin: 0 auto;
  padding: 10px 0px 10px 0px;

}
header li {
  display: inline;
  list-style: none;
  padding: 0px 10px;
}

header {
  padding: 10px 0px;
  margin-bottom: 20px;
}

#showcase {
  text-align: center;
}

#showcase img {
  padding: 5px;
  box-shadow: 5px 5px 8px rgb(196, 196, 196);
}

footer {
  text-align: center;
  font-size: 13px;
}