.container {
  padding: 15px auto;
  margin: 10px auto;
  text-align: center;
}

header {
  padding: 0px 0px 10px 0px;
  margin-bottom: 40px;
}

#logo {
  padding-bottom: 25px;
  text-align: center;
}

#header-list {
  text-align: center;
}

header ul {
  padding: 0px;
}

header li {
  display: inline;
  list-style: none;
  padding: 0px 20px;
  color: rgb(71, 71, 71);
}

header a {
  text-decoration: none;
  color: rgb(71, 71, 71);
}

#showcase-about {
  text-align: center;
  margin-top: 50px;
  margin: 0 auto;
}

#showcase-about h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(71, 71, 71);
  padding: 25px 25px 20px 25px;
}

#showcase-about p {
  line-height: 130%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(141, 141, 141);
  padding: 10px 25px 10px 35px;
  font-size: 20px;
}

#default-picture {
  align-content: center;
  width: 350px;
  box-shadow: 9px 9px 15px rgb(172, 172, 172);
  margin-bottom: 20px;
}

#showcase img {
  padding: 5px;
  box-shadow: 5px 5px 8px rgb(224, 224, 224);
}

footer {
  text-align: center;
  font-size: 11px;
  color: rgb(124, 124, 124);
  padding: 10px;
  margin: 20px;
}

footer a {
  color: rgb(124, 124, 124);
}

.connect {
  font-size: 25px;
  color: rgb(124, 124, 124);
}
